body {
  background-color: black;
  color: white;
}

#entete {
  background-color: #38343489;
  padding: 10px;
}

.nav-tabs {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #000000;
}

#site-search {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #00000072;
  border-radius: 5px;
  font-size: 14px;
}


#recherche {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #007bff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

#Presentation {
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin: 20px auto;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  border-radius: 20px;
  color: #000000;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.panel h3,
.panel h4,
.panel h5 {
  font-size: 20px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  padding: 2%;
}


.panel.active {
  flex: 2;
}

.panel.active h3,
.panel.active h4,
.panel.active h5 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
      flex-direction: column;
      width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
      display: none;
  }
}
