body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#entete {
    background-color: #f8f9fa; /* Couleur de fond */
    padding: 10px; /* Marge intérieure */
}

.nav-tabs {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #0056b3;
}

.active {
    color: #0056b3;
}

#site-search {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
}

/* Arrondir les bords des champs de saisie */
.form-control {
    border-radius: 10px; /* Vous pouvez ajuster la valeur selon votre préférence */
}

button {
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}
